/**
 * Base styles to use at the start of the class
 *
 * Module: HTML/CSS
 * Lesson: 1,2
 * Class: Scotland 2017
 */
html,body {
  font-family: "Microsoft YaHei"，sans-serif;
  font-weight:bold;
  font-size:20px;
}

#reading-list {
  list-style-position:outside;
}

#reading-list li{
  background-color:green;
  padding:0;
  margin:20px
}

#reading-list li:first-child {
  background-color:red;
}

#reading-list img{
  display:block;
  width:200px;
}
