/**
 * Base styles to use at the start of the class
 *
 * Module: HTML/CSS
 * Lesson: 1,2
 * Class: Scotland 2017
 */
html,body {
  font-family: "Microsoft YaHei"，sans-serif;
  font-weight:bold;
  font-size:20px;
}

#reading-list {
  list-style-position:outside;
  padding:10px 30px;
}

#reading-list li{
  margin:20px 0;
  padding:15px;
  border:0.1em solid black;
  background-color:green;
}

#reading-list li:first-child {
  background-color:red;
}

#reading-list img{
  width:200px;
  margin-right:20px;
}
